{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
    //"unused-imports"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    // Leave all formatting to prettier; must come last.
    "prettier"
  ],
  "rules": {
    "max-len": ["error", { "code": 180 }],
    // Make all control statements use curly braces
    "curly": ["error", "all"],
    //"unused-imports/no-unused-imports": "error",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
